html {
    margin: 0;
    padding: 0;
    font-family: serif;
    font-size: 62.5%;
    /* Equivalente a 10px */
    border-left: .1rem solid #000;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

table {
    background: #FFFFFF;
    width: 80%;
    border-collapse: collapse;
    margin-left: 1rem;
    font-family: Arial, Helvetica, sans-serif solid 3rem;
}

table thead th {
    background-color: rgb(70, 68, 226);
    color: aliceblue;
    height: 1rem;
}

.primeira_linha {
    font-weight: bold;
}

table tr,
th,
td {
    /* Qualquer linha dentro da tables */
    border: .1rem solid #51e3ee;
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem;
}

table tr:nth-child(odd) {
    /* Odd para as listrar linhas impares e even para pares */
    background-color: #EEEEFF;
}

table tr td:first-child {
    /* Primeiro item de cada td (conteúdeo da linha) de cada tr (cada linha) */
    font-weight: bold;
}

table tfoot {
    font-weight: bold;
}