
div {
    margin: 40px auto; /* O primeiro valor indica a vertical do objeto, o segundo a horizontal - Auto faz o elemento no meio da tela na horizontal*/
}

#teste-texto {
    background-color: brown;
    width: 200px;
    height: 200px;
    overflow: scroll; /* Se o conteúdo da div for maior que seu tamanho, cria automáticamente um scroll */
}

#grafico-01 {
    background-color: brown;
    width: 400px;
    height: 400px;
    border-radius: 50%; /* Arredonda a forma da div */
    overflow: hidden;  /* limita o conteúdo da div dentro dos limites da própria div */
}

#grafico-01 img {
    width: 100%;
}

/* Triângulo */
#grafico-02 {
    
    width: 200px;
    background-color: tomato;
    /* height: 200px; */
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent transparent blue;
}

#imagem-vetorial {
    width: 200px;
}

canvas {
    height: 300px;
    width: 300px;
}

/* filtros */
/* Para filtros juntos na imagem deve-se colocar um filtro do lado do outro na mesma linha, senão ele sobrescreve o filtro anterior */

#grafico-01 {
    filter: drop-shadow(8px 8px 10px #333); /* Aplica sombra projetada na imagem */
    max-width: 100%;
    height: auto;
}

.filtro {
    filter: grayscale(100); /* escala de cinza */
    filter: blur(5px); /* Desfoca a imagem quando passa o mouse sobre a imagem */
    filter: brightness(150%); /* Aumenta o brilho da imagem (100% é o padrão) */
    filter: invert(100%); /* Inverte as cores da imagem */
    filter: opacity(50%); /* Ajusta a opacidade da imagem */
    filter: saturate(200%) sepia(80%) ; /* Aumenta a saturação e a sepia */
}

.filtro:hover {
    filter: grayscale(0); /* Quando passar o mouse sobre a imagem ela fica colorida */
    
}